<a href="https://colab.research.google.com/github/BharathReddyRamasani/AI_DS/blob/main/pandas_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (2.0.2)

In [ ]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import pandas as pd
a=[1,2,3]
var=pd.Series(a,index=["x","y","z"])
print(var)
print(var["y"])

x    1
y    2
z    3
dtype: int64
2

In [ ]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

print(myvar)
print(myvar["day2"])

day1    420
day2    380
day3    390
dtype: int64
380

Using **Pandas Series**, perform the following:

âœ… Create a Series named `scores` using the dictionary `student_scores`.

âœ… Print the marks scored by **"Charlie"** and **"Eva"**.

âœ… Add **5 bonus marks** to all students and print the updated Series.

âœ… Display only the students who scored **above 90** after the bonus.

âœ… Calculate and print the **average marks** of the class (after the bonus).

In [ ]:
import pandas as pd
scores={"s1":36,"s2":29,"s3":20,"s4":28,"s5":39}
var=pd.Series(scores,index=["s1","s2","s3","s4","s5"])
print(var)
print(var["s2"])
print(var["s5"])

var += 5
print("Updated Marks:\n", var)

# for key, value in var.items():
#     var[key] = value + 5


# for k in var.keys():
#     var[k] = var[k] + 5



above_30 = var[var > 90]
print("\nStudents scoring above 90:\n", above_30)

avg_marks = var.mean()
print("\nAverage Marks (after bonus):", avg_marks)

s1    36
s2    29
s3    20
s4    28
s5    39
dtype: int64
29
39
Updated Marks:
 s1    41
s2    34
s3    25
s4    33
s5    44
dtype: int64

Students scoring above 90:
 Series([], dtype: int64)

Average Marks (after bonus): 35.4

In [ ]:
import numpy as np
import pandas as pd
arr=np.array([[25,85],[25,90],[26,29],[24,45]])
ser=pd.DataFrame(arr,index=["a","b","c","d"],columns=["Age","Marks"])
print(ser)
print(ser.loc["c"])
print(ser.values)
print(var.index)
print(ser.columns)

   Age  Marks
a   25     85
b   25     90
c   26     29
d   24     45
Age      26
Marks    29
Name: c, dtype: int64
[[25 85]
 [25 90]
 [26 29]
 [24 45]]
Index(['s1', 's2', 's3', 's4', 's5'], dtype='object')
Index(['Age', 'Marks'], dtype='object')

In [ ]:
d={'name':["rbr","dham","anv"],
   "age":[15,42,23],
   "marks":[34,35,36]}
df=pd.DataFrame(d)
print(df,end="\n\n")
print(df.loc[0])

print(df.values)
print(df.index)
print(df.columns)
print()
print(type(df.values))
print(df.values.ndim)
print(df.values.shape)

   name  age  marks
0   rbr   15     34
1  dham   42     35
2   anv   23     36

name     rbr
age       15
marks     34
Name: 0, dtype: object
[['rbr' 15 34]
 ['dham' 42 35]
 ['anv' 23 36]]
RangeIndex(start=0, stop=3, step=1)
Index(['name', 'age', 'marks'], dtype='object')

<class 'numpy.ndarray'>
2
(3, 3)

In [ ]:
import pandas as pd
ser1 = pd.Series(['Rukshan', 'Prasadi', 'Gihan', 'Hansana'], index=['Ru', 'Pr', 'Gi', 'Ha'])
ser2 = pd.Series([25, 25, 26, 24], index=['Ru', 'Pr', 'Gi', 'Ha'])
ser3 = pd.Series([85, 90, 70, 80], index=['Ru', 'Pr', 'Gi', 'Ha'])
a_dict = {'name': ser1, 'age': ser2, 'marks': ser3}
df = pd.DataFrame(a_dict)
print("Initial DataFrame:\n", df, "\n")

highest = df[df['marks'] == df['marks'].max()]
print("Student with highest marks:\n", highest, "\n")

df.loc['Th'] = ['Tharushi', 23, 88]
print("After adding Tharushi:\n", df, "\n")

age_25_plus = df[df['age'] >= 25]
print("Students aged 25 or older:\n", age_25_plus, "\n")

df.loc[df['marks'] < 80, 'marks'] += 10
print("After adding 10 bonus marks:\n", df, "\n")

avg_marks = df['marks'].mean()
print("Average Marks after bonus:", avg_marks)

Initial DataFrame:
        name  age  marks
Ru  Rukshan   25     85
Pr  Prasadi   25     90
Gi    Gihan   26     70
Ha  Hansana   24     80

Student with highest marks:
        name  age  marks
Pr  Prasadi   25     90

After adding Tharushi:
         name  age  marks
Ru   Rukshan   25     85
Pr   Prasadi   25     90
Gi     Gihan   26     70
Ha   Hansana   24     80
Th  Tharushi   23     88

Students aged 25 or older:
        name  age  marks
Ru  Rukshan   25     85
Pr  Prasadi   25     90
Gi    Gihan   26     70

After adding 10 bonus marks:
         name  age  marks
Ru   Rukshan   25     85
Pr   Prasadi   25     90
Gi     Gihan   26     80
Ha   Hansana   24     80
Th  Tharushi   23     88

Average Marks after bonus: 84.6

In [ ]:
from google.colab import drive
import pandas as pd

drive.mount('/content/drive')

path = '/content/drive/My Drive/data.csv'

df = pd.read_csv(path)

print(df.to_string(),end='\n\n')


print(df.head(6),end="\n\n")

print(df.tail(4),end="\n\n")

print(df.isnull().sum())
print(df.info())

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
    Duration        Date  Pulse  Maxpulse  Calories
0         60  2020/12/01    110       130     409.1
1         60  2020/12/02    117       145     479.0
2         60  2020/12/03    103       135     340.0
3         45  2020/12/04    109       175     282.4
4         45  2020/12/05    117       148     406.0
5         60  2020/12/06    102       127     300.0
6         60  2020/12/07    110       136     374.0
7        450  2020/12/08    104       134     253.3
8         30  2020/12/09    109       133     195.1
9         60  2020/12/10     98       124     269.0
10        60  2020/12/11    103       147     329.3
11        60  2020/12/12    100       120     250.7
12        60  2020/12/12    100       120     250.7
13        60  2020/12/13    106       128     345.3
14        60  2020/12/14    104       132     379.3
15        60  2020/12/15     98       123     275.0
16        60  2020/12/16     98       120     215.2
17        60  2020/12/17    100       120     300.0
18        45  2020/12/18     90       112       NaN
19        60  2020/12/19    103       123     323.0
20        45  2020/12/20     97       125     243.0
21        60  2020/12/21    108       131     364.2
22        45         NaN    100       119     282.0
23        60  2020/12/23    130       101     300.0
24        45  2020/12/24    105       132     246.0
25        60  2020/12/25    102       126     334.5
26        60  2020/12/26    100       120     250.0
27        60  2020/12/27     92       118     241.0
28        60  2020/12/28    103       132       NaN
29        60  2020/12/29    100       132     280.0
30        60  2020/12/30    102       129     380.3
31        60  2020/12/31     92       115     243.0

   Duration        Date  Pulse  Maxpulse  Calories
0        60  2020/12/01    110       130     409.1
1        60  2020/12/02    117       145     479.0
2        60  2020/12/03    103       135     340.0
3        45  2020/12/04    109       175     282.4
4        45  2020/12/05    117       148     406.0
5        60  2020/12/06    102       127     300.0

    Duration        Date  Pulse  Maxpulse  Calories
28        60  2020/12/28    103       132       NaN
29        60  2020/12/29    100       132     280.0
30        60  2020/12/30    102       129     380.3
31        60  2020/12/31     92       115     243.0

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    2
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      31 non-null     object
 2   Pulse     32 non-null     int64
 3   Maxpulse  32 non-null     int64
 4   Calories  30 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.4+ KB
None

In [ ]:
from google.colab import drive
import pandas as pd

drive.mount('/content/drive')

path = '/content/drive/My Drive/data.csv'

df = pd.read_csv(path)

x=df["Calories"].mean()
df.fillna({"Calories":x}, inplace = True)
print(df)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
    Duration        Date  Pulse  Maxpulse  Calories
0         60  2020/12/01    110       130    409.10
1         60  2020/12/02    117       145    479.00
2         60  2020/12/03    103       135    340.00
3         45  2020/12/04    109       175    282.40
4         45  2020/12/05    117       148    406.00
5         60  2020/12/06    102       127    300.00
6         60  2020/12/07    110       136    374.00
7        450  2020/12/08    104       134    253.30
8         30  2020/12/09    109       133    195.10
9         60  2020/12/10     98       124    269.00
10        60  2020/12/11    103       147    329.30
11        60  2020/12/12    100       120    250.70
12        60  2020/12/12    100       120    250.70
13        60  2020/12/13    106       128    345.30
14        60  2020/12/14    104       132    379.30
15        60  2020/12/15     98       123    275.00
16        60  2020/12/16     98       120    215.20
17        60  2020/12/17    100       120    300.00
18        45  2020/12/18     90       112    304.68
19        60  2020/12/19    103       123    323.00
20        45  2020/12/20     97       125    243.00
21        60  2020/12/21    108       131    364.20
22        45         NaN    100       119    282.00
23        60  2020/12/23    130       101    300.00
24        45  2020/12/24    105       132    246.00
25        60  2020/12/25    102       126    334.50
26        60  2020/12/26    100       120    250.00
27        60  2020/12/27     92       118    241.00
28        60  2020/12/28    103       132    304.68
29        60  2020/12/29    100       132    280.00
30        60  2020/12/30    102       129    380.30
31        60  2020/12/31     92       115    243.00

ValueError: could not convert string to float: '2020/12/01'

In [ ]:
# from google.colab import drive
# import pandas as pd

# drive.mount('/content/drive')

path = '/content/drive/My Drive/data.csv'

df = pd.read_csv(path)

print(df.corr())
print(df.shape())

ValueError: could not convert string to float: '2020/12/01'

â€œE-Commerce Transaction Analyticsâ€ (Using Online Retail Dataset)
ðŸŽ¯ Scenario / Story
You are a data analyst at ShopWave, an e-commerce platform in the UK. ShopWave logs every transaction (order) made in their store. Each record has:
Invoice number
Stock code / product ID
Description
Quantity
Invoice date
Unit price
Customer ID
Country

Your manager wants you to clean the data, fix inconsistencies, derive business metrics, and explore relationships. The cleaned data should enable deeper dashboards later.

Tasks & Steps
Below is a full pipeline of tasks that students should perform. Each task corresponds to one or more of the functions/techniques you already taught.
Load & Inspect
Read the CSV (e.g. OnlineRetail.csv)
Display head(), tail(), info(), shape
Check dtypes
Missing Data Handling
Use isnull().sum() to find missing values (e.g. some Description or Customer ID missing)
Drop rows that have missing Customer ID (because you canâ€™t tie to a customer)
Fill missing Description or other columns using a placeholder (e.g. "Unknown")
Date Parsing / Format Correction
The InvoiceDate column might be string. Convert using pd.to_datetime(..., format='mixed')
Drop records where parsing failed (if any)
Detect & Fix Bad or Outlier Data
Some transactions might have negative quantity (returns) â€” detect those and decide whether to treat as returns or drop
Some unit prices might be zero or negative â€” fix/clean these (e.g. drop or adjust)
Duplicates
Use duplicated() to find duplicated invoice-item entries
Drop duplicates

from google.colab import drive
drive.mount('/content/drive')
import pandas as pd

df = pd.read_csv('/content/drive/My Drive/OnlineRetail.csv', encoding='ISO-8859-1')

Filtering & Sorting
Filter transactions where Quantity > 1000 (suspicious outliers)
Sort by UnitPrice * Quantity descending (i.e. highest revenue orders)
Merge / Enrich Data
Create a small custom DataFrame product_info with columns StockCode, Category, Supplier
Convert its date (if needed) and merge with the main dataset on StockCode (left join)
Group & Aggregation
Group by Country and compute total revenue, mean revenue per order, and count of orders
Create a new column Revenue = Quantity * UnitPrice
Use pd.cut() to bucket UnitPrice (e.g. cheap, medium, expensive) and then group by that price range to see how many purchases and average revenue
Correlation / Relationships
Use .corr() on numeric columns (Quantity, UnitPrice, Revenue)
Interpret which factors are strongly related (e.g. high quantity often correlates with higher revenue)
Rename & String Operations
Rename StockCode to Product_ID, UnitPrice to Price
Use .str methods on Description â€” e.g., .str.lower(), .str.contains("glass"), etc.
Filter products whose description contains certain keywords

import pandas as pd
df = pd.read_csv("C:/Users/Karunakar E/Downloads/archive (1)/OnlineRetail.csv",encoding='ISO-8859-1')
                 
print(df.head())

In [ ]:
import pandas as pd
path = '/content/drive/My Drive/OnlineRetail.csv'
df = pd.read_csv(path, encoding='ISO-8859-1')
print("First 5 rows:")
print(df.head())
print("\nLast 5 rows:")
print(df.tail())
print("\nDataFrame Info:")
print(df.info())
print("\nDataFrame Shape:")
print(df.shape)
print("\nColumn Data Types:")
print(df.dtypes)
print("\nMissing Values in Each Column:")
print(df.isnull().sum())
df = df.dropna(subset=['CustomerID'])
df['Description'] = df['Description'].fillna('Unknown')
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'], errors='coerce', infer_datetime_format=True)
df = df.dropna(subset=['InvoiceDate'])
df = df[df['Quantity'] > 0]
df = df[df['UnitPrice'] > 0]
print("\nNumber of duplicate rows:", df.duplicated().sum())
df = df.drop_duplicates()
df['Revenue'] = df['Quantity'] * df['UnitPrice']
df_outliers = df[df['Quantity'] > 1000]
df = df.sort_values(by='Revenue', ascending=False)
product_info = pd.DataFrame({
    'StockCode': ['10000', '10001', '10002'],
    'Category': ['Furniture', 'Electronics', 'Decor'],
    'Supplier': ['SupplierA', 'SupplierB', 'SupplierC']
})
df = pd.merge(df, product_info, on='StockCode', how='left')
country_group = df.groupby('Country').agg(
    total_revenue=('Revenue', 'sum'),
    mean_revenue=('Revenue', 'mean'),
    order_count=('InvoiceNo', 'nunique')
).reset_index()
price_bins = [0, 5, 20, df['UnitPrice'].max()]
price_labels = ['cheap', 'medium', 'expensive']
df['Price_Range'] = pd.cut(df['UnitPrice'], bins=price_bins, labels=price_labels)

price_group = df.groupby('Price_Range').agg(
    purchase_count=('InvoiceNo', 'count'),
    avg_revenue=('Revenue', 'mean')
).reset_index()

corr_matrix = df[['Quantity','UnitPrice','Revenue']].corr()
print("\nCorrelation matrix:\n", corr_matrix)

df = df.rename(columns={'StockCode':'Product_ID', 'UnitPrice':'Price'})
df['Description_lower'] = df['Description'].str.lower()
df_glass = df[df['Description_lower'].str.contains('glass')]

print("\nFiltered products containing 'glass':")
print(df_glass.head())

print("\nDescriptive Statistics:")
print(df[['Quantity', 'Price', 'Revenue']].describe())

print("\nValue counts by Country:")
print(df['Country'].value_counts())

if 'Category' in df.columns:
    print("\nValue counts by Category:")
    print(df['Category'].value_counts())

high_revenue_germany = df.query("Revenue > 1000 and Country == 'Germany'")
quantity_between_10_100 = df[df['Quantity'].between(10, 100)]

print("\nHigh Revenue Orders in Germany:")
print(high_revenue_germany.head())

print("\nOrders with Quantity between 10 and 100:")
print(quantity_between_10_100.head())

export_path = '/content/drive/My Drive/OnlineRetail_Cleaned.csv'
df.to_csv(export_path, index=False)
print(f"\nCleaned dataset saved to: {export_path}")

First 5 rows:
  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

      InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/2010 8:26       2.55     17850.0  United Kingdom
1  12/1/2010 8:26       3.39     17850.0  United Kingdom
2  12/1/2010 8:26       2.75     17850.0  United Kingdom
3  12/1/2010 8:26       3.39     17850.0  United Kingdom
4  12/1/2010 8:26       3.39     17850.0  United Kingdom

Last 5 rows:
       InvoiceNo StockCode                      Description  Quantity  \
541904    581587     22613      PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899     CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254    CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255  CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138    BAKING SET 9 PIECE RETROSPOT          3

            InvoiceDate  UnitPrice  CustomerID Country
541904  12/9/2011 12:50       0.85     12680.0  France
541905  12/9/2011 12:50       2.10     12680.0  France
541906  12/9/2011 12:50       4.15     12680.0  France
541907  12/9/2011 12:50       4.15     12680.0  France
541908  12/9/2011 12:50       4.95     12680.0  France

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB
None

DataFrame Shape:
(541909, 8)

Column Data Types:
InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

Missing Values in Each Column:
InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

/tmp/ipython-input-82169907.py:28: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'], errors='coerce', infer_datetime_format=True)

Number of duplicate rows: 5192

/tmp/ipython-input-82169907.py:60: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  price_group = df.groupby('Price_Range').agg(

Correlation matrix:
            Quantity  UnitPrice   Revenue
Quantity   1.000000  -0.004578  0.914451
UnitPrice -0.004578   1.000000  0.081619
Revenue    0.914451   0.081619  1.000000

Filtered products containing 'glass':
    InvoiceNo Product_ID                          Description  Quantity  \
116    556718      71477    COLOUR GLASS. STAR T-LIGHT HOLDER       660
254    552904      71477    COLOUR GLASS. STAR T-LIGHT HOLDER       428
291    572765      71477    COLOUR GLASS. STAR T-LIGHT HOLDER       384
326    560734      71477    COLOUR GLASS. STAR T-LIGHT HOLDER       360
344    561901      20914  SET/5 RED RETROSPOT LID GLASS BOWLS       320

            InvoiceDate  Price  CustomerID         Country  Revenue Category  \
116 2011-06-14 11:02:00   2.75     16013.0  United Kingdom   1815.0      NaN
254 2011-05-12 11:07:00   2.75     16013.0  United Kingdom   1177.0      NaN
291 2011-10-26 10:02:00   2.75     16013.0  United Kingdom   1056.0      NaN
326 2011-07-20 14:58:00   2.75     15298.0  United Kingdom    990.0      NaN
344 2011-07-31 15:42:00   2.95     14156.0            EIRE    944.0      NaN

    Supplier Price_Range                    Description_lower
116      NaN       cheap    colour glass. star t-light holder
254      NaN       cheap    colour glass. star t-light holder
291      NaN       cheap    colour glass. star t-light holder
326      NaN       cheap    colour glass. star t-light holder
344      NaN       cheap  set/5 red retrospot lid glass bowls

Descriptive Statistics:
            Quantity          Price        Revenue
count  392692.000000  392692.000000  392692.000000
mean       13.119702       3.125914      22.631500
std       180.492832      22.241836     311.099224
min         1.000000       0.001000       0.001000
25%         2.000000       1.250000       4.950000
50%         6.000000       1.950000      12.450000
75%        12.000000       3.750000      19.800000
max     80995.000000    8142.750000  168469.600000

Value counts by Country:
Country
United Kingdom          349203
Germany                   9025
France                    8326
EIRE                      7226
Spain                     2479
Netherlands               2359
Belgium                   2031
Switzerland               1841
Portugal                  1453
Australia                 1181
Norway                    1071
Italy                      758
Channel Islands            747
Finland                    685
Cyprus                     603
Sweden                     450
Austria                    398
Denmark                    380
Poland                     330
Japan                      321
Israel                     245
Unspecified                241
Singapore                  222
Iceland                    182
USA                        179
Canada                     151
Greece                     145
Malta                      112
United Arab Emirates        68
European Community          60
RSA                         57
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              25
Bahrain                     17
Saudi Arabia                 9
Name: count, dtype: int64

Value counts by Category:
Category
Decor    49
Name: count, dtype: int64

High Revenue Orders in Germany:
Empty DataFrame
Columns: [InvoiceNo, Product_ID, Description, Quantity, InvoiceDate, Price, CustomerID, Country, Revenue, Category, Supplier, Price_Range, Description_lower]
Index: []

Orders with Quantity between 10 and 100:
    InvoiceNo Product_ID                       Description  Quantity  \
2      556444      22502    PICNIC BASKET WICKER 60 PIECES        60
72     537659      22833       HALL CABINET WITH 3 DRAWERS        72
106    538063      22830         UTILTY CABINET WITH HOOKS        96
197    553368      22783  SET 3 WICKER OVAL BASKETS W LIDS        80
236    541220      22838     3 TIER CAKE TIN RED AND CREAM        96

            InvoiceDate   Price  CustomerID         Country   Revenue  \
2   2011-06-10 15:28:00  649.50     15098.0  United Kingdom  38970.00
72  2010-12-07 16:43:00   32.69     18102.0  United Kingdom   2353.68
106 2010-12-09 13:44:00   19.94     18102.0  United Kingdom   1914.24
197 2011-05-16 14:24:00   16.95     18102.0  United Kingdom   1356.00
236 2011-01-14 14:11:00   12.75     14156.0            EIRE   1224.00

    Category Supplier Price_Range                 Description_lower
2        NaN      NaN   expensive    picnic basket wicker 60 pieces
72       NaN      NaN   expensive       hall cabinet with 3 drawers
106      NaN      NaN      medium         utilty cabinet with hooks
197      NaN      NaN      medium  set 3 wicker oval baskets w lids
236      NaN      NaN      medium     3 tier cake tin red and cream

Cleaned dataset saved to: /content/drive/My Drive/OnlineRetail_Cleaned.csv